includeConfig 'conf/defaults.config'

params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------

    // CSV with sample_id, pb_fastq, and ont_fastq columns
    samplesheet = null

    // maximum size for split-up FASTQs (defaults to 100000)
    split_max = 500000

	// minimum number of reads required to run hifiasm with a given FASTQ
	min_reads = 1000

    // reference FASTA
    ref_fasta = null

    // desired regions sheet
    desired_regions = null

	// Where to place results
	results = "$launchDir/results"

    // whether to cleanup work directory after a successful run (defaults to false)
    cleanup = false

	// monolithic image containing every pipeline dependency
	monoimage = "nrminor/nf-rash:latest"

	// where to place the PacBio and ONT FASTQ for each extracted region
	extracted = params.results + "/extracted_regions"

	// where to place hifiasm results, including a FASTA of contigs
	assembly = params.results + "/hifiasm_assembly"

}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
    enabled = true
	overwrite = true
    file    = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = "${params.results}/workflow-visualization.png"
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.cleanup


// PROFILE OPTIONS
profiles {
	
	standard {

		docker.enabled = true
		singularity.enabled = false
		apptainer.enabled = false
		conda.enabled = false
		process.container = params.monoimage
	}

	local {

		docker.enabled = false
		singularity.enabled = false
		apptainer.enabled = false
		conda.enabled = false
	}

	containerless {

		docker.enabled = false
		singularity.enabled = false
		apptainer.enabled = false
		conda.enabled = false
	}

	docker {

		docker.enabled = true
		singularity.enabled = false
		apptainer.enabled = false
		conda.enabled = false
		process.container = params.monoimage
	}

	singularity {

		singularity.enabled = true
		docker.enabled = false
		apptainer.enabled = false
		conda.enabled = false

		process {
			container = "docker://${params.monoimage}"
		}
	}

	apptainer {

		apptainer.enabled = true
		docker.enabled = false
		singularity.enabled = false
		conda.enabled = false

		process {
			container = "docker://${params.monoimage}"
		}
	}
}


// MANIFEST
manifest {
	homePage = ''
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = ''
	author = ''
}
