params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------

    // PacBio HiFi CCS FASTQ.gz file
    pb_fastq = null

    // Oxford Nanopore FASTQ.gz file
    ont_fastq = null

    // maximum size for split-up FASTQs (defaults to 100000)
    split_max = 10000

    // reference FASTA
    ref_fasta = null

    // desired regions sheet
    desired_regions = "$projectDir/resources/desired_regions.tsv"
	
	// Where to place results
	results = "$launchDir/results"

    // whether to cleanup work directory after a successful run (defaults to false)
    cleanup = false

	// how many cpu cores to multithread across for each task
	cpus = 6

}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
    enabled = true
	overwrite = true
    file    = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = "${params.results}/workflow-visualization.png"
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.cleanup


// PROFILE OPTIONS
profiles {
	
	standard {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false

		process {
			withLabel: "seqkit" {
				container = "staphb/seqkit:2.8.1"
			}
		}

        process {
            withLabel: "map_and_extract" {
                container = "dockerreg.chtc.wisc.edu/prall/map-and-extract:v1"
            }
        }

        process {
			withName:RUN_HIFIASM {
				container = "dockerreg.chtc.wisc.edu/prall/hifiasm:29364"
			}
		}
		
	}
	
	docker {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false

		process {
			withName:MERGE_PACBIO_FASTQS {
				container = "staphb/seqkit:2.8.1"
			}
		}

        process {
			withName:MERGE_ONT_FASTQS {
				container = "staphb/seqkit:2.8.1"
			}
		}

        process {
            withLabel: "map_and_extract" {
                container = "dockerreg.chtc.wisc.edu/prall/map-and-extract:v1"
            }
        }

        process {
			withName:RUN_HIFIASM {
				container = "dockerreg.chtc.wisc.edu/prall/hifiasm:29364"
			}
		}
		
	}
	
	singularity {
		
		singularity.enabled = true
		docker.enabled = false
		conda.enabled = false

		process {
			withName:MERGE_PACBIO_FASTQS {
				container = "docker://staphb/seqkit:2.8.1"
			}
		}

        process {
			withName:MERGE_ONT_FASTQS {
				container = "docker://staphb/seqkit:2.8.1"
			}
		}

        process {
            withLabel: "map_and_extract" {
                container = "docker://dockerreg.chtc.wisc.edu/prall/map-and-extract:v1"
            }
        }

        process {
			withName:RUN_HIFIASM {
				container = "docker://dockerreg.chtc.wisc.edu/prall/hifiasm:29364"
			}
		}
		
	}
	
	apptainer {
		
		apptainer.enabled = true
		docker.enabled = false
		conda.enabled = false

		process {
			withName:MERGE_PACBIO_FASTQS {
				container = "docker://staphb/seqkit:2.8.1"
			}
		}

        process {
			withName:MERGE_ONT_FASTQS {
				container = "docker://staphb/seqkit:2.8.1"
			}
		}

        process {
            withLabel: "map_and_extract" {
                container = "docker://dockerreg.chtc.wisc.edu/prall/map-and-extract:v1"
            }
        }

        process {
			withName:RUN_HIFIASM {
				container = "docker://dockerreg.chtc.wisc.edu/prall/hifiasm:29364"
			}
		}
		
	}
}


// MANIFEST
manifest {
	homePage = ''
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = ''
	author = ''
}