process {

    // fallback for any process without a more specific selector
    cpus = 1
    memory = 8.GB
    time = 3.h

    withName: QUICK_SPLIT_FASTQ {
        cpus = 4
        memory = 8.GB
        time = 12.h
    }

    withName: MAP_TO_REF {
        cpus = 12
        memory = 32.GB
        time = 12.h
    }

    withName: EXTRACT_REGIONS {
        cpus = 4
        memory = 16.GB
        time = 6.h
    }

    withName: MERGE_PACBIO_FASTQS {
        cpus = 4
        memory = 8.GB
        time = 6.h
    }

    withName: MERGE_ONT_FASTQS {
        cpus = 4
        memory = 8.GB
        time = 6.h
    }

    withName: RUN_HIFIASM {
        cpus = 20
        memory = 128.GB
        time = 24.h
    }

    withName: RUN_HIFIASM_HIFI_ONLY {
        cpus = 20
        memory = 128.GB
        time = 72.h
    }

    withName: CONVERT_CONTIGS_TO_FASTA {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }
}
