process {

		// container/environment settings
        singularity.enabled = true
        apptainer.cacheDir = "work/apptainer/"
        singularity.cacheDir = "work/singularity"
        singularity.autoMounts = true

        // slurm job settings
        executor = "slurm"
        clusterOptions = "--partition=shared"
		maxForks = 10
		time = 24.h

}